{% extends "utils/base.html" %}
{% block title %}Orders{% endblock title %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
{% endblock head %}

{% block start %}
<section>
    <div class="container">
        <div class="row min-vh-100">
            {% if orders.count is 0 %}
            
            <div class="d-flex justify-content-center">
                    <img class="img-fluid rounded" style="width: 400px; height: 400px;" src="https://cdni.iconscout.com/illustration/premium/thumb/empty-wishlist-illustration-svg-download-png-11068637.png" alt="product_image">
            </div>

            {% else %}

            <div class="col-lg-8 pt-4">
                <div class="mb-3">
                    <div class="d-flex justify-content-between align-items-baseline">
                        <h5 class="mb-4">
                            Orders
                        </h5>
                    </div>

                    {% for order in orders %}
                    <div class="row mb-4">
                        <div class="col-sm-3 col-lg-2 cart-img-wrapper">
                            <img class="img-fluid rounded w-100" src="{{order.order_items.first.product.product.images.first.image.url}}" alt="product_image">
                        </div>

                        <div class="col-sm-9 col-lg-10">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h5></h5>
                                    <p class="text-muted small mb-2">
                                        Items: {{order.order_items.count}}
                                    </p>
                                </div>

                                <div class="d-flex align-items-center">
                                    <p class="text-muted small mb-2">{{order.order_id}}</p>
                                </div>
                            </div>

                            <div class="d-flex justify-content-between align-items-center mt-2">
                                <div class="d-flex justify-content-between">
                                    <a href="{% url "order_detail" %}?order_id={{order.id}}" class="text-primary text- small text-decoration-none mt-4">
                                        View order details
                                    </a>
                                    {% if order.invoice_pdf %}
                                    <a href="{{order.invoice_pdf.url}}" target="_blank" class="text-danger text-uppercase smallfs text-decoration-none mt-4 ml-5">
                                        <i class="fa-solid fa-file-pdf"></i> Download Invoice
                                    </a>
                                    {% else %}
                                    <a href="{% url "generate_invoice" %}?id={{order.id}}" class="text-secondary text-uppercase smallfs text-decoration-none mt-4 ml-5">
                                        <i class="fa-solid fa-file-pdf"></i> Generate Invoice
                                    </a>
                                    {% endif %}
                                </div>
                                <strong>₹{{order.total}}</strong>
                            </div>
                        </div>
                    </div>
                    <hr>
                    {% endfor %}
                </div>
            </div>

            
            

            {% endif %}

        </div>
    </div>
</section>



{% endblock start %}
