{% extends "utils/base.html" %}

{% block title %}
Feed
{% endblock %}

{% block header %}
# feed
{% endblock %}

{% block content %}

<div class="space-y-6">

    {% for post in posts %}

    <div class="bg-[#2b2d31] p-5 rounded-2xl shadow-md">

        <div class="flex items-center gap-3 mb-3">

            <img 
                src="{% if post.user.profile %}{{ post.user.profile.url }}{% else %}https://static.vecteezy.com/system/resources/thumbnails/009/292/244/small/default-avatar-icon-of-social-media-user-vector.jpg{% endif %}"
                alt="profile"
                class="w-10 h-10 rounded-full object-cover"
            >

            <div>
                <div class="font-semibold">
                    {% if post.user.username == request.user.username %}
                    You
                    {% else %}
                    {{ post.user.username }}
                    {% endif %}
                </div>
                <div class="text-xs text-gray-400">
                    {{ post.created_at|date:"M d, Y H:i" }}
                </div>
            </div>

        </div>

        <h2 class="text-lg font-semibold mb-2">
            {{ post.title }}
        </h2>


        <p class="text-gray-300 mb-3">
            {{ post.description }}
        </p>


        {% if post.image %}
            <img src="{{ post.image.url }}"
                 class="w-full max-h-96 object-cover rounded-xl">
        {% endif %}

    </div>

    {% empty %}

    <div class="text-gray-400 text-center mt-10">
        No posts yet. Be the first one 👀
    </div>

    {% endfor %}

</div>

{% endblock %}

{% block floating_button %}

<a href="{% url "create_post" %}" 
   class="fixed bottom-6 right-72 group flex items-center z-50">

    <span class="mr-3 bg-gray-800 text-white text-sm px-3 py-1 rounded-lg 
                 opacity-0 group-hover:opacity-100 transition duration-300">
        Add Post
    </span>

    <div class="w-14 h-14 bg-indigo-600 hover:bg-indigo-700 
                text-white text-3xl flex items-center justify-center 
                rounded-full shadow-lg transition duration-300
                hover:scale-110">
        +
    </div>

</a>

{% endblock %}
