<div class="w-60 bg-[#2b2d31] flex flex-col">

        <div class="p-4 font-bold border-b border-black/30">
            Community
        </div>

        <div class="flex-1 p-2 space-y-1">

            <a href="{% url "feed" %}" class="block px-2 py-1 rounded hover:bg-[#35373c]">
                # feed
            </a>

            <a href="{% url "chats" %}" class="block px-2 py-1 rounded hover:bg-[#35373c]">
                # chats
            </a>

            <a href="{% url "profile" %}" class="block px-2 py-1 rounded hover:bg-[#35373c]">
                # profile
            </a>

        </div>


        <div class="bg-[#232428] p-3 flex items-center gap-2">

            <div class="w-8 h-8 bg-green-500 rounded-full"></div>

            <div>
                <div class="text-sm font-semibold">
                    Username
                </div>

                <div class="text-xs text-green-400">
                    online
                </div>
            </div>

        </div>

    </div>