{% extends "utils/base.html" %}

{% block title %}Search | {{request.GET.q|truncatewords:2}}{% endblock title %}
{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static "css/search.css" %}">
{% endblock head %}

{% block start %}

<section class="products">
  <h2 class="title">Search Results</h2>

  <div class="product-grid">

    {% for product in products %}
    <div class="product-card">
      <div class="product-image">
        <img src="{{product.product.images.first.image.url}}" alt="Product">
      </div>

      <div class="product-content">
        <p class="category">{{product.product.category.category_name}}</p>
        <a class="text-decoration-none text-dark" href="{% url "products" product.id %}"><h3 class="product-title">{{product.product.title}}</h3></a>

        <div class="price-box">
          <span class="price">₹{{product.vendor_selling_price}}</span>
          <del>₹{{product.product.mrp}}</del>
        </div>
      </div>
    </div>
    {% endfor %}


  </div>
</section>


{% endblock start %}